@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/backGround.jpg");
  background-size: cover;
  color: cadetblue;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
.server {
  /* display: flex; */
  cursor: pointer;
}
.serverLogo {
  width: 40px;
  border-radius: 50%;
  transition: all 2s ease;
}
.serverLogo:hover {
  width: 60px;
  opacity: 0.75;
  transform: rotate(180deg);
}

.home {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(75, 24, 24, 0.788);
    padding: 12px;
    border-radius: 4px;
}
.signinForm{
	width: 40vw;
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}
.signinForm h2{
	margin: 20px;
}
.form1{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.btnsub{
	border-radius: 7px;
	background: rgb(190, 190, 190);
	border: 1px solid transparent;
	padding: 5px 10px;
    /* box-shadow: 5px -5px 8px #c3c3c366; */
	transition: ease 2s;
	opacity: 0.8;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
  border-left: 3px solid #666565;
}
.btnsub:hover{
	color:rgb(69, 121, 151);
}
.register{
	font-size: 16px;
	transition: ease 1s;
}
.register:hover{
	font-size: 17px;
}
.signinput{
	border: none;
	background-color: rgb(192, 192, 192);
	border-radius: 20px;
	outline:none;
}
.serverContainer{
	display: flex;
  flex-direction: row;
 justify-content: center;
  
}
.serverContainerChild{
	display: flex;
	flex-direction: column;
}
.serverIcone{
  display: none;
position: absolute;
}

.serverLogo:hover + .serverIcone{
  display: block;
}
.navLP{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}
.divLogo{
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
}